.main {
  padding: 10px;
}

.mybutton {
  display: block;
  margin: 10px auto;
  border: none;
  background: var(--themecolor);
  padding: 8px;
  font-size: 14px;
  color: var(--secondarycolor);
  width: 200px;
  position: relative;
  outline: none;
  border-radius: 6px;
  box-shadow: 0px 3px var(--themecolor);
}

.mybutton:hover {
  background: var(--themecolor);
  filter: var(--themecolor);
  filter: grayscale(50%);
}

.mybutton:active {
  box-shadow: 0px 0px var(--themecolor);
  top: 3px;
}

.myinput {
  width: 200px;
  outline: none;
  border: 2px solid var(--themecolor);
  height: 28px;
  border-radius: 5px;
}

.myinput:hover {
  background: var(--secondarycolor);
}

.myinput:active {
  background: var(--secondarycolor);
}
